@font-face {
  font-family: "BebasNeuePro-Regular";
  src: local("Bebas"),
    url(../themes/assets/BebasNeuePro-Regular.otf) format("opentype");
}

@font-face {
  font-family: "BebasNeuePro-Bold";
  src: local("Bebas"),
    url(../themes/assets/BebasNeuePro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-Light";
  src: local("Inter"), url(../themes/assets/Inter/Inter-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter"), url(../themes/assets/Inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter"), url(../themes/assets/Inter/Inter-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter"), url(../themes/assets/Inter/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  src: local("Inter"), url(../themes/assets/Inter/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Sarabun-Bold";
  src: local("Inter"), url(../themes/assets/Sarabun/Sarabun-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  color: #E9EBF6;
  background: linear-gradient(288.33deg, #0E1528 -0.59%, #060912 97.77%);
  background-color: #060912;

  --font-mono: Inter-Regular, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}


a {
  color: inherit;
  text-decoration: none;
}
