name: Create Sismo Connect App

on:
  issue_comment:
    types: [created]

jobs:
  create-app:
    runs-on: ubuntu-latest
    if: contains(github.event.comment.body, '/create-app')
    steps:
      - name: Check if organization member
        id: is_organization_member
        uses: jamessingleton/is-organization-member@1.0.1
        with:
          organization: sismo-core
          username: ${{ github.event.comment.user.login }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - if: steps.is_organization_member.outputs.result == false
        run: |
          echo "${{ github.actor }} does not belong to sismo-core"
          exit 1

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{secrets.SISMOBOT_TOKEN}}

      - name: Checkout Pull Request
        run: hub pr checkout ${{ github.event.issue.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.SISMOBOT_TOKEN }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Create Sismo Connect App on the factory
        run: yarn sync-all-apps-factory
        env:
          SISMO_FACTORY_URL: https://factory-api.sismo.io
          SISMO_FACTORY_TOKEN: ${{ secrets.SISMO_FACTORY_TOKEN }}
  
      - uses: oleksiyrudenko/gha-git-credentials@v2.1.1
        with:
          global: true
          name: 'SismoBot'
          email: 'robot@sismo.io'
          actor: 'sismobot'
          token: '${{ secrets.SISMOBOT_TOKEN }}'

      - name: Commit and push filled appId
        run: |
          git commit -a -m "feat: create Sismo Connect App and auto-fill appId" || exit 0
          git push
